<footer>
    <div class="container">
      <div class="footer-content">
        <p>&copy; 2023 Consulting. Tous droits réservés.</p>
        
        <ul class="footer-links">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">À propos</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          
        </ul>
        
        
      </div>
    </div>
    <div style="text-align: center;"> 
    <br>
      
        <a>Sanogo Kassoum</a>
        <br>
        <a>07 53 84 73 83</a>
        <br>
        <a>kassoum.sanogo@outlook.com</a>
      </div>
  </footer>
  