<div class="container-fluid">
    <div class="row">
        <div class="col-6 col-md-6 col-lg-6 color">
           <br/><p>Comment Choisir Son <br/>Ordinateur ?</p>
        </div>
        <div class="col-6 col-md-6 col-lg-6 image">
            <img src="../../assets/introduce.png" class="" height="160" width="100%"/>
        </div>
    </div>
    <div>
        <p class="para" style="line-height:5px;">Trouvez le meilleur ordinateur avec nos conseils ! </p>
        <p class="para" >Bienvenue sur notre site.</p>
        <div class="icon">
            <i class="fa fa-arrow-circle-down" style="font-size:36px;"></i>
        </div>


    </div>
    
</div>
